[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
uvloop = { version = "*", sys_platform = "!= 'win32'" }
aiohttp = "*"
aiosqlite = "*"
dependency-injector = "*"
toml = "*"
click = "*"
pydantic = "*"

[dev-packages]
pipenv-setup = "*"
pytest = "*"
mypy = "*"
pycodestyle = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
